

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: url('./images/background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    color: rgb(255, 220, 42);
}

header{
    min-width: 390px;
    margin-bottom: 1em;
    background-color: rgba(72, 7, 7, 0.7);
    font-size: 3rem ;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 20px rgb(255, 220, 42); 
}

.won, .lost{
    height: 800px;
    font-size: 150px;
    line-height: 800px;
}

/* starting window of the game */
.start-game{
    position: fixed;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
    font-size: 1.6rem;
    z-index: 100;
}

/* player 1 player 2 mode */
.mode-option-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px rgb(255, 220, 42);
    border-radius: 50px;
    width:100%;
    height: 70px;
    font-size: 1.2rem;
}

/* for the selected mode */
.selected{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 20px rgb(255, 220, 42);
}


#one-player:hover,
#two-players:hover{
    text-shadow: 0 0 20px rgb(255, 220, 42);
    cursor: pointer;
}

#fight-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* container for music, stop/play, and info buttons */
.btns-container{
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.music-button,
.game-button,
.info-button{
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* divs containing the rendered fighters */
#warrior,
#monster{
    margin: 0 auto;
    min-width: 390px;
    width: 90%;
    height: 600px;
}

#warrior{
    position: sticky;
    top: 0;
    left: 0;
}


.life-bar{
    margin: 10px auto;
    width: 80%;
    height: 12px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 3px rgb(255, 220, 42);
}

.life-bar-inner{
    background-color: green;
    height: 12px;
    border-radius: 5px;
}

.dying{
    background-color: red;
}

/* pops up when the monster is dead */
.dead-monster{
    background: url(./images/form-background.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    font-size: 1.5rem;
}


.fighter-img, .win-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid rgb(255, 220, 42);
}

.countdown{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* buttons */

.submit-btn, 
.start-game-btn,
.select-character-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 220, 42);
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fight-btn{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 220, 42);
    color: black;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.fight-btn:active{
    border: solid 3px white;
}

/* show hide elements */
.hidden{
    display: none;
    pointer-events: none;
    touch-action: none;
}

/*pop ups windows throughout the game */
.pop-up{
    background: url(./images/form-background.avif);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 90%;
    min-width: 390px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.info-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 80%;
}

/*--------------form-----------------*/
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.answers{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 50%;
    margin: 1rem 0.5rem;
    align-items: center;
}

.question-form{
    margin: 50px auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer{
    min-width: 390px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: none;
}

footer p{
    line-height: 10vh;
}

.highlight {
    color: red;
  }

    /* to make the background back to colored */
  .colored{
    filter: none;
  }

  /* to make the background gray */
.gray{
    filter: grayscale(100%);
}

button{
    touch-action: manipulation;
    user-select: none;
}



/* 2 players mode -------------------------*/

.character-choice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 90%;
    min-width: 390px;
    height: 600px;
    padding: 1em;
}

.character-choice-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.character-choice-img-container img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
   
}

.character-choice-img-container button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 6em;
    width: 60%;
    color: rgb(255, 220, 42);
}


/* used to turn an arrow in the chracter choice window */
#backward{
    transform: rotate(180deg);
}


.hidden{
    display: none;
    pointer-events: none;
    touch-action: none;
}


/* Media queries -------------------------*/

@media (min-width: 768px){
   #fight-container{
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
       height: 80%;
   }

   .start-game{
    width: 70%;
    font-size: 2.2rem;
   }

   .mode-option-container{
        justify-content: space-around;
        width: 70%;
        height: 130px;
        font-size: 1.8rem;
   }
   
   #warrior,
    #monster{
    width: 500px;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .form-container h2{
        font-size: 50px;
    }

    .fighter-img{
        width: 400px;
        height: 500px;
    }

    .fight-btn{
        position:static;
        width:300px;
        height: 100px;
        margin: 0 auto;
    }

    .pop-up,
    .character-choice-container{
    width: 60%;
    }


   
}

@media(min-width: 1024px){
    .start-game{
        width: 50%;
        font-size: 2.5rem;
    }


    .form-container h2{
        font-size: 60px;
    }


    .fight-btn{
        width:400px;
        height: 100px;
        bottom:50px;
    }

    .pop-up,
    .character-choice-container{
    width: 40%;
    }

    .character-choice-img-container img{
        width: 300px;
        height: 400px;
    }

    .character-choice-img-container button{
        font-size: 8em;
    }
}